
<div class="container py-5">
    <h2 class="pb-3 text-center">Formación</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Bachiller en Gestión y Administración Especializado en
                Administración Pública.</h4>
            <p class="card-text">Colegio C.E.N.S. N° 453, Hipólito
                Yrigoyen 97, Florencio Varela, Bs.As.</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary mr-2">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="card-title">Licenciatura en Administración.</h4>
            <p class="card-text">Universidad Arturo Jauretche, Av. Calchaquí 6200,
                Florencio Varela, Bs.As.</p>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <button class="btn btn-primary mr-2">Editar</button>
                <button class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
