<section class="py-5">
  <div class="container">
    <h2 class="pb-3 text-center">Experiencia laboral</h2>
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-item-content">
          <h4 class="mb-1">Trabajo anterior</h4>
          <p class="text-muted mb-2">Terapia Organizativa Biomolecular – TOB | (diciembre 2016 / noviembre 2017)</p>
          <p>Otorgamiento de turnos,
            Carga de Historia clínica,
            Manejo y cierre de caja,
            tarea administrativa en general.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-item-content">
          <h4 class="mb-1">Trabajo actual</h4>
          <p class="text-muted mb-2">Prevencion del Delito | (Enero 2018/ actualmente)</p>
          <p>Detectar y relevar las distintas situaciones de riesgo o anomalías en el
            espacio para dar
            intervención a las fuerzas de seguridad y/o emergencia de la ciudad
            según la situación
            lo requiera.</p>
        </div>
      </div>
    </div>
  </div>
</section>

