<section class="jumbotron text-center position-relative">
  <div class="container">
    <h1 class="jumbotron-heading">Mi Portafolio</h1>
    <p class="bold-text">Bienvenido a mi portafolio. Aquí puedes encontrar información sobre mi trabajo y habilidades.</p>
    <p>
      <a routerLink="/contact" class="btn btn-primary my-2 mr-3">Contacto</a>
      <a routerLink="/projects" class="btn btn-secondary my-2">Proyectos</a>
    </p>
  </div>
  <img src="../../assets/img/fotodeperfil.jfif" class="position-absolute bottom-0 start-0" width="150" height="150" id="fotodeperfil">
</section> 