
<section class="py-5 bg-light">
  <div class="container">
    <h2 class="pb-3 text-center">Habilidades</h2>
    <div class="row">
      <div class="col-md-6 mb-5">
        <h3 class="mb-3">HTML</h3>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod convallis sem, a finibus est consectetur a. Nullam scelerisque ex id magna bibendum, id pharetra enim rutrum.</p>
      </div>
      <div class="col-md-6 mb-5">
        <h3 class="mb-3">CSS</h3>
        <div class="progress mb-3">
          <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam euismod convallis sem, a finibus est consectetur a. Nullam scelerisque ex id magna bibendum, id pharetra enim rutrum.</p>
      </div>
    </div>
  </div>
</section>
